.bm-dialog-body {
  display: grid;
  grid-template-areas:
    'nav'
    'header'
    'directory'
    'footer';
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.75rem;

  &__delete {
    //
  }

  &__duplicate {
    grid-template-areas:
      'nav nav'
      'directory config'
      'footer footer';
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
  }

  &__export {
    //
  }

  &__import {
    grid-template-areas:
      'header header'
      'directory config';
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr min-content;
  }

  &__move {
    grid-template-areas:
      'nav'
      'directory'
      'config'
      'footer';
    grid-template-rows: min-content 1fr min-content min-content;
  }

  &__rename {
    //
  }

  &__update {
    //
  }
}
