.bm-dialog-body {
  display: grid;
  grid-template-areas:
    'nav'
    'header'
    'directory'
    'footer';
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.75rem;
  height: 100%;
  overflow-y: hidden;

  &__delete {
    //
  }

  &__duplicate {
    grid-template-areas:
      'nav nav'
      'header config'
      'directory config'
      'footer footer';
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content 1fr min-content;
  }

  &__export {
    grid-template-areas:
      'nav nav'
      'header config'
      'directory config'
      'footer footer';
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-columns: 1fr min-content;
  }

  &__import {
    grid-template-areas:
      'header'
      'directory';
    grid-template-rows: min-content 1fr;
  }

  &__move {
    grid-template-areas:
      'nav'
      'header'
      'directory'
      'config'
      'footer';
    grid-template-rows: min-content min-content 1fr min-content min-content;
  }

  &__rename {
    grid-template-areas:
      'nav nav'
      'header config'
      'directory config'
      'footer footer';
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content 1fr min-content;
  }

  &__update {
    //
  }

}

.bm-naming-convention__hint {
  ul {
    font-size: var(--bulk-tasks-sm-text);
    text-align: left;
    padding: 0;
    list-style: none;
  }
}
