{{!-- Select All & Deselect All  --}}
<div class="bm__selector-area">
  <button class="bm__btn bm__selector__btn-sa" type="button">
    Select All
  </button>
  <button class="bm__btn bm__selector__btn-dsa" type="button">
    De-Select All
  </button>
</div>