.bulk-tasks-application {
  background: var(--bulk-tasks-application-background);
  color: var(--bulk-tasks-dark-text-color);
  border: 0;
  font-size: var(--bulk-tasks-base-font-size) !important;

  .window-content {
    padding: 0;
  }
}
