//** FOUNDRY DARK THEME **/

.theme-dark {
  /** TEXT COLORS **/
  --bulk-tasks-dark-text-color: hsl(36, 53%, 85%);
  --bulk-tasks-dark-text-hover-color: hsl(36, 58%, 90%);
  --bulk-tasks-dark-text-glow-color: var(--bulk-tasks-dark-text-color);
  --bulk-tasks-light-text-color: hsl(50, 14%, 9%);
  --bulk-tasks-medium-text-color: hsl(0, 0%, 84%);
  --bulk-tasks-navigation-text-color: hsl(36, 53%, 80%);
  --bulk-tasks-navigation-active-text-color: hsl(38, 38%, 94%);
  --bulk-tasks-secondary-navigation-text-color: hsl(36, 53%, 80%);
  --bulk-tasks-secondary-navigation-active-text-color: hsl(36, 58%, 90%);
  --bulk-tasks-sidebar-text-color: hsl(36, 53%, 80%);
  --bulk-tasks-code-editor-text-color: hsl(217, 34%, 88%);

  /** BASE SHEET **/
  --bulk-tasks-application-background: hsla(247, 31%, 6%, 0.9);

  /** NAVIGATION **/
  --bulk-tasks-primary-nav-background-color: hsl(240, 5%, 11%);
  --bulk-tasks-primary-nav-text-color: hsl(36, 53%, 80%);
  --bulk-tasks-primary-nav-element-background-color: hsl(240, 6%, 21%);
  --bulk-tasks-secondary-nav-selected-text-color: hsl(36, 53%, 80%);

  /** Import Tab **/
  --bulk-tasks-import-header-border-color: hsla(0, 0%, 80%, 0.637);
  --bulk-tasks-import-drop-background-color: hsl(293, 10%, 17%);
  --bulk-tasks-import-drop-border-color: transparent;
  --bulk-tasks-import-drop-icon-color: hsl(0, 2%, 75%);

  --bulk-tasks-import-button-background-color: hsl(122, 65%, 24%);
  --bulk-tasks-import-button-border-color: transparent;
  --bulk-tasks-import-button-shadow-color: transparent;
  --bulk-tasks-import-button-background-color-disabled: hsl(293, 10%, 17%);
  --bulk-tasks-import-button-border-color-disabled: transparent;
  --bulk-tasks-import-button-shadow-color-disabled: transparent;
  --bulk-tasks-import-button-icon-color: hsl(38, 38%, 94%);
  --bulk-tasks-import-button-icon-color-disabled: hsl(0, 0%, 43%);
}
