:root {
  /** TEXT SIZEs **/
  --bulk-tasks-xxs-text: 0.579rem;
  --bulk-tasks-xs-text: 0.694rem;
  --bulk-tasks-sm-text: 0.833rem;
  --bulk-tasks-md-text: 1rem;
  --bulk-tasks-lg-text: 1.2rem;
  --bulk-tasks-xl-text: 1.44rem;
  --bulk-tasks-xxl-text: 1.728rem;
  --bulk-tasks-xxxl-text: 2.074rem;

  --bulk-tasks-base-font-size: 16px;

  /** TEXT COLORS **/
  --bulk-tasks-dark-text-color: hsl(50, 14%, 9%);
  --bulk-tasks-light-text-color: hsl(38, 38%, 94%);
  --bulk-tasks-medium-text-color: hsl(50, 14%, 44%);

  --bulk-tasks-dark-text-hover-color: hsl(50, 14%, 9%);
  --bulk-tasks-light-text-hover-color: hsl(38, 38%, 94%);
  --bulk-tasks-medium-text-hover-color: hsl(50, 14%, 44%);

  --bulk-tasks-dark-text-glow-color: hsl(0, 66%, 53%);

  /** BASE SHEET **/
  --bulk-tasks-application-background: hsl(0, 0%, 96%);

  /** NAVIGATION **/
  --bulk-tasks-primary-nav-background-color: hsl(240, 5%, 11%);
  --bulk-tasks-primary-nav-text-color: hsl(38, 38%, 94%);
  --bulk-tasks-primary-nav-element-background-color: hsl(240, 6%, 21%);
  --bulk-tasks-secondary-nav-selected-text-color: hsl(38, 38%, 94%);

  /** Import Tab **/
  --bulk-tasks-import-header-border-color: hsl(0, 0%, 80%);
  --bulk-tasks-import-drop-background-color: hsl(0, 0%, 80%);
  --bulk-tasks-import-drop-border-color: hsl(0, 0%, 67%);
  --bulk-tasks-import-drop-icon-color: hsl(0, 0%, 47%);

  --bulk-tasks-import-button-background-color: hsl(122, 39%, 49%);
  --bulk-tasks-import-button-border-color: hsl(123, 40%, 44%);
  --bulk-tasks-import-button-shadow-color: hsl(122, 39%, 39%);
  --bulk-tasks-import-button-background-color-disabled: hsl(0, 0%, 80%);
  --bulk-tasks-import-button-border-color-disabled: hsl(0, 0%, 75%);
  --bulk-tasks-import-button-shadow-color-disabled: hsl(0, 0%, 70%);
  --bulk-tasks-import-button-icon-color: hsl(38, 38%, 94%);
  --bulk-tasks-import-button-icon-color-disabled: hsl(0, 0%, 47%);

  /** ANIMATION **/
  --bulk-tasks-standard-transition: all 0.15s ease-in-out;
  --bulk-tasks-slow-transition: all 0.25s ease-in-out;
}
