.bm__import-app__container {
  display: grid;
  grid-template-columns: 1fr 9em 1fr;
  gap: 1em;
  justify-items: center; 
  align-items: center;display: grid;
  grid-template-columns: 1fr 9em 1fr;
  gap: 1em;
  justify-items: center;

  .bm__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .bm__import--file-picker {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .bm__import-selector__container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .bm__import--view {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .bm__import__footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
  }
}


.bm__import--file-picker {
  display: grid;
  grid-template-rows: 3em 25em 3em;
  align-items: center;
  outline: 2px solid $color-primary;
  width: 100%; 
  background-color: white;

  h3 {
    text-align: center;
    font-size: $font-size-lg;
    text-decoration: underline;
  }

  .bm__import__chosen-items {
    position: relative; 
    padding-inline: 0.5em;
    padding-block: 0.5em;
    overflow-y: scroll;
    height: 100%; 
  }

  .bm__li {
    display: block;
    margin-block-end: 0.5em;
  }

  .bm__import--remove-choices{
    cursor: pointer;
  }

  #bm__import--files {
    padding-inline: 0.5em;
    overflow: hidden;
  }
}


.bm__import-selector__container {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1em;
}


.bm__import--view {
  display: grid;
  grid-template-rows: 3em 25em 3em;
  align-items: center;
  outline: 2px solid $color-primary;
  width: 100%; 
  background-color: white;

  h3 {
    text-align: center;
    font-size:  $font-size-lg;
    text-decoration: underline;
  }

  h4 {
    text-align: left;
    font-size: $font-size-md;
    text-decoration: underline;
    margin-block-start: 1em;

    &:first-of-type {
      margin-block-start: 0;
    }
  }

  .bm__import__selected-items {
    position: relative;
    padding-inline: 0.5em;
    padding-block: 0.5em;
    overflow-y: scroll;
    height: 100%;

    .bm__li {
      display: block;
      margin-block-end: 0.5em;
    }

    .bm__import--remove-selected {
      cursor: pointer;
    }
  }
}

.bm__import__footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

