<form class="flexcol" autocomplete="off">
  {{!-- Title --}}
  <div class="bm__title">
    <h1>Bulk Export/Delete</h1>
  </div>

  {{!-- Nav --}}
  <nav class="sheet-tabs tabs">
    <a class="item active" data-tab="actors"><i class="fas fa-users"></i> Actors</a>
    <a class="item" data-tab="journal"><i class="fas fa-book"></i> Journals</a>
    <a class="item" data-tab="items"><i class="fas fa-suitcase"></i> Items</a>
    <a class="item" data-tab="macros"><i class="fas fa-code"></i> Macros</a>
    <a class="item" data-tab="scenes"><i class="fas fa-map"></i> Scenes</a>
    <a class="item" data-tab="tables"><i class="fas fa-th-list"></i> RollTables</a>
    <a class="item" data-tab="cards"><i class="fas fa-id-badge"></i> Cards</a>
    <a class="item" data-tab="playlists"><i class="fas fa-music"></i> Playlists</a> 
  </nav>

  {{!-- Add Search --}}
  {{> "modules/bulk-tasks/templates/partials/search.hbs"}}

  {{!-- Add Sections --}}
  <section class="bm__directory-view-data">
    {{#each this}}
    <section class="tab" data-tab="{{@key}}">
      {{!-- Add Selector --}}
      {{> "modules/bulk-tasks/templates/partials/selectors.hbs"}}
      {{> "modules/bulk-tasks/templates/partials/directoryView.hbs"}}
    </section>
    {{/each}}
  </section>

  {{!-- Footer --}}
  <footer class="bm__footer__delete-export">
    {{!-- Export Button --}}
    <button class="bm__btn" type="button" id="bm__btn--move">
      <i class="fa-solid fa-file-export"></i> Export
    </button>

     {{!-- Delete Button --}}
    <button class="bm__btn" type="button" id="bm__btn--delete">
      <i class="fas fa-trash"></i> Delete
    </button>

    {{!-- TODO: Remove this and change to back --}}
    {{!-- Cancel Button --}}
    <button class="bm__btn" type="reset" id="bm__btn--cancel">
      <i class="fas fa-times"></i> Cancel
    </button>

  </footer>

</form>