<form class="flexcol" autocomplete="off">

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="actors"><i class="fas fa-users"></i> Actors</a>
        <a class="item" data-tab="journal"><i class="fas fa-book"></i> Journals</a>
        <a class="item" data-tab="items"><i class="fas fa-shield-alt"></i> Items</a>
        <a class="item" data-tab="macros"><i class="fas fa-code"></i> Macros</a>
        <a class="item" data-tab="scenes"><i class="fas fa-map"></i> Scenes</a>
        <a class="item" data-tab="tables"><i class="fas fa-table"></i> RollTables</a>
        <a class="item" data-tab="playlists"><i class="fas fa-music"></i> Playlists</a>
    </nav>


    <section class="tab" data-tab="actors">
        <hr>
        <fieldset class="bm__display">
            <ul class="bm__ul">
                {{#each this.actors}}
                <li class="bm__li">
                    <button type="button" class="bm__btn--collapsable">
                    {{this.data.name}}
                    </button>
                <div class="bm__content">
                    {{#each this.content}}
                    {{#with this}}
                    <span> 
                        <input type="checkbox" class="bm-check" name="{{this._id}}" data-id="{{this._id}}" data-type="actors" data-name="{{this.name}}"> 
                        <label for="{{this._id}}">{{this.name}}</label> <br />
                    </span>
                    {{/with}}
                    {{/each}}
                </div>
                </li>
                {{/each}}
            </ul>
        </fieldset>
    </section>


    <section class="tab" data-tab="journal">
        <hr>
        <fieldset class="bm__display">
            <ul class="bm__ul">
                {{#each this.journals}}
                <li class="bm__li">
                    <button type="button" class="bm__btn--collapsable">
                    {{this.data.name}}
                    </button>
                <div class="bm__content">
                    {{#each this.content}}
                    {{#with this}}
                    <span> 
                        <input type="checkbox" class="bm-check" name="{{this._id}}" data-id="{{this._id}}" data-type="journal" data-name="{{this.name}}" >
                        <label for="{{this._id}}">{{this.name}}</label> <br />                               
                    </span>
                    {{/with}}
                    {{/each}}
                </div>
                </li>
                {{/each}}
            </ul>
        </fieldset>
    </section>


    <section class="tab" data-tab="items">
        <hr>
        <fieldset class="bm__display">
            <ul class="bm__ul">
                {{#each this.items}}
                <li class="bm__li">
                    <button type="button" class="bm__btn--collapsable">
                    {{this.data.name}}
                    </button>
                <div class="bm__content">
                    {{#each this.content}}
                    {{#with this}}
                    <span> 
                        <input type="checkbox" class="bm-check" name="{{this._id}}" data-id="{{this._id}}" data-type="items" data-name="{{this.name}}"> 
                        <label for="{{this._id}}">{{this.name}}</label> <br />
                    </span>
                    {{/with}}
                    {{/each}}
                </div>
                </li>
                {{/each}}
            </ul>
        </fieldset>
    </section>


    <section class="tab" data-tab="scenes">
        <hr>
        <fieldset class="bm__display">
            <ul class="bm__ul">
                {{#each this.scenes}}
                <li class="bm__li">
                    <button type="button" class="bm__btn--collapsable">
                    {{this.data.name}}
                    </button>
                <div class="bm__content">
                    {{#each this.content}}
                    {{#with this}}
                    <span> 
                        <input type="checkbox" class="bm-check" name="{{this._id}}" data-id="{{this._id}}" data-type="scenes" data-name="{{this.name}}"> 
                        <label for="{{this._id}}">{{this.name}}</label> <br />
                    </span>
                    {{/with}}
                    {{/each}}
                </div>
                </li>
                {{/each}}
            </ul>
        </fieldset>
    </section>


    <section class="tab" data-tab="tables">
        <hr>
        <fieldset class="bm__display">
            <ul class="bm__ul">
                {{#each this.tables}}
                <li class="bm__li">
                    <button type="button" class="bm__btn--collapsable">
                    {{this.data.name}}
                    </button>
                <div class="bm__content">
                    {{#each this.content}}
                    {{#with this}}
                    <span> 
                        <input type="checkbox" class="bm-check" name="{{this._id}}" data-id="{{this._id}}" data-type="tables" data-name="{{this.name}}"> 
                        <label for="{{this._id}}">{{this.name}}</label> <br />
                    </span>
                    {{/with}}
                    {{/each}}
                </div>
                </li>
                {{/each}}
            </ul>
        </fieldset>
    </section>


    <section class="tab" data-tab="playlists">
        <hr>
        <fieldset class="bm__display">
            <ul class="bm__ul">
                {{#each this.playlists}}
                <li class="bm__li">
                    <button type="button" class="bm__btn--collapsable">
                    {{this.data.name}}
                    </button>
                <div class="bm__content">
                    {{#each this.content}}
                    {{#with this}}
                    <span> 
                        <input type="checkbox" class="bm-check" name="{{this._id}}" data-id="{{this._id}}" data-type="playlists" data-name="{{this.name}}"> 
                        <label for="{{this._id}}">{{this.name}}</label> <br />
                    </span>
                    {{/with}}
                    {{/each}}
                </div>
                </li>
                {{/each}}
            </ul>
        </fieldset>
    </section>


    <section class="tab" data-tab="macros">
        <hr>
        <fieldset class="bm__display">
            {{#each this.macros}}
            {{#with this}}
            <div>
                <span> 
                    <input type="checkbox" class="bm-check" name="{{this._id}}" data-id="{{this._id}}" data-type="macros" data-name="{{this.name}}"> 
                    <label for="{{this._id}}">{{this.name}}</label> <br />
                </span>
            </div>
            {{/with}}
            {{/each}}
        </fieldset>
    </section>


    <footer class="bm__footer">
        <!-- Move Button -->
        <button type="button" id="bm-move"><i class="fas fa-truck-moving"></i>Move</button>

        <!-- Delete Button -->
        <button type="button" id="bm-delete"><i class="fas fa-trash"></i>Delete</button>

        <!-- Cancel Button -->
        <button type="reset" id="bm-cancel"><i class="fas fa-times"></i>Cancel</button>

    </footer>


</form>