<section class="bm-main-menu-container">
  <h1 class="bm__title">Bulk Tasks</h1>

  <div class="bm__tasks">
    <div class="bm__tasks__card">Delete</div>
    <div class="bm__tasks__card">Duplicate</div>
    <div class="bm__tasks__card">Export</div>
    <div class="bm__tasks__card">Import</div>
    <div class="bm__tasks__card">Move</div>
    <div class="bm__tasks__card">Rename</div>
  </div>

  <footer class="bm__main-menu__footer">
    <a href="" class="bm__social">G</a>
    <a href="" class="bm__social">P</a>
    <a href="" class="bm__social">D</a>
  </footer>

</section>