<section class="bm__main-menu__container">
  <div class="bm__title">
    <h1>Bulk Tasks</h1>
  </div>
  
  <div class="bm__tasks">
    <div id="bm__task-card--delete" class="bm__tasks__card">
      <h3>Delete</h3>
    </div>
    
    <div id="bm__task-card--duplicate" class="bm__tasks__card">
      <h3>Duplicate</h3>
    </div>
    
    <div id="bm__task-card--export" class="bm__tasks__card">
      <h3>Export</h3>
    </div>
    
    <div id="bm__task-card--import" class="bm__tasks__card">
      <h3>Import</h3>
    </div>
    
    <div id="bm__task-card--move" class="bm__tasks__card">
      <h3>Move</h3>
    </div>
    
    <div id="bm__task-card--rename" class="bm__tasks__card">
      <h3>Rename</h3>
    </div>
  </div>

  <footer class="bm__main-menu__footer">
    <a href="https://discordapp.com/users/NekroDarkmoon#7225/" class="bm__social">
      <img src="" alt="Discord">
    </a>
    
    <a href="https://github.com/NekroDarkmoon/" class="bm__social">
      <img src="" alt="Github">
     </a>
      
    <a href="https://ko-fi.com/nekrodarkmoon" class="bm__social">
      <img src="" alt="Ko-fi">
    </a>


  </footer>

</section>