/* .bulk-display {
    height: 700px;
    overflow-y: scroll;
} */

.bulk-display {
    height: 600px;
    overflow-y: scroll;   
    margin-bottom: 0.25em;
}

.bulk-footer{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
}

#bm-delete, #bm-move, #bm-cancel {
    border: thin black 2px;
}

#bm-delete {
    background-color: #b50f00;
    color: white;
}


.bmove-choices {
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 0.25em;
}

.bmove-destination {
    margin-bottom: 0.5em;
}

.bulk-move-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
