/* Main Menu css */

.bulk-display {
	height: 600px;
	overflow-y: scroll;
	margin-bottom: 0.25em;
}

.bulk-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#bm-delete,
#bm-move,
#bm-cancel {
	border: thin black 2px;
}

#bm-delete {
	background-color: #b50f00;
	color: white;
}

/* Ensures buttons in action-buttons do not shrink */
.action-buttons button {
	min-width: max-content;
	white-space: nowrap;
}

/* Main Menu Content css */
/* .bm-collapsable {
	all: unset;
	width: 100%;
	cursor: pointer;
	text-align: left;
	outline: none;
	font-size: 1.05rem;
	padding: 0.25em 0.25em 0em 0.25em;
	border-bottom: 0.15em solid gray;
	margin-bottom: 0.25em;
	font-weight: bold;
}

.bm-collapsable:hover,
.bm-collapsable:focus {
	box-shadow: none;
}

.bm-collapsable::before {
	content: '\002B';
}

.bm-content {
	padding-top: 0.55rem;
	padding-bottom: 0.75rem;
	display: none;
}

.bm-ul,
.bm-li {
	all: unset;
} */

.hidden {
	display: none;
}

/* Move Menu Css */
.bmove-choices {
	min-height: 200px;
	max-height: 400px;
	overflow-y: scroll;
	margin-bottom: 0.25em;
}

.bmove-destination {
	margin-bottom: 0.5em;
}

.bulk-move-footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
